@import url("https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;600&display=swap");
/* Root for css variable */
:root{
  --scale:1;
  --degree: 1deg;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  min-width: fit-content;
}
.App {
  display: grid;
  grid-template-columns: clamp(90vw,95vw,100vw);
  grid-template-rows: repeat(3,100vh);
  overflow-x: hidden;
}
#Page1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "one two" "three thour";
}
#Circlewrapper {
  grid-area: three;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.CircleLayer {
  height: 17em;
  width: 17em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.CircleLayer > h3 {
  transform: skew(-12deg) rotate(-12deg);
  padding-top: 25%;
  padding-left: 20%;
  font-family: "Sarpanch", sans-serif;
  font-size: 1.75em;
}
.CircleLayer > h3 > span{
  font-size: 2em;
  position: absolute;
  bottom: 40%;
  left: 3%;
}
.OuterLayer{
  position: absolute;
  height: 17em;
  width: 17em;
  border: 16px solid #f3f3f3;
  border-radius: 60%;
  border-top: 16px solid #283035;
  scale: 1.5;
  animation: spin1 2s linear infinite,size 2s;
  animation-direction:alternate;
}
@keyframes SpinCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin1 {
  /* transform:scale(var(--scale)) */
  0% {transform:   rotate(calc(var(--degree)*15) ); }
  100% {transform:  rotate(0deg); }
}
